/* Reset */
* {

	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

body {

	background-color: #f4f4f4;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
}


/* Form Design */


.form-wrapper {
	height: 100vh;
	position: relative;
}

.form-container {
	background: #fff;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	width: 500px;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

h1 {
	font-size: 3rem;
	text-align: center;
	margin: 10px 0;
}

form {
	display: flex;
	flex-direction: column;
	gap: 15px;

}

label {
	font-weight: bold;
	color: #333;
}

input,
textarea,
.phone-number-block {
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	transition: 0.3s;
	width: 100%;
}

.image-container img {
	max-width: 100%;
	width: 100%;
}

input:focus,
textarea:focus {
	border-color: #007BFF;
	outline: none;
	box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
}


.submit-btn {
	background: #007BFF;
	color: white;
	padding: 12px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 18px;
	transition: 0.3s;
}

.submit-btn:hover {
	background: #0056b3;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin: 20px 0;
	font-size: 18px;
	text-align: left;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

thead {
	background-color: #001947;
	color: white;
}

th,
td {
	padding: 12px 15px;
	border-bottom: 1px solid #ddd;
}

tbody tr:hover {
	background-color: #d1d1d1;
}


.content-part {
	max-width: 50%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
}

.phone-number-block {
	display: flex;
	padding: 2px 0;
	align-items: center;

}

.phone-prefix {
	border-right: 1px solid #ccc;
}

.phone-number-block input {
	border: none;
}

.phone-number-block:focus {}

.phone-number-block p {
	font-size: 1.3rem;
	padding: 3px;
}

/* Responsive */
@media (max-width: 400px) {
	.form-container {
		width: 90%;
	}
}
